    <%- include("partials/header.ejs") %>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                The less confident you are, the more serious you have to act.
            </p>
        </blockquote>
        <p class="writer-name">– Tara Ploughman</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                The condition of man is already close to satiety and arrogance, and there is danger of destruction of everything in existence.
            </p>
        </blockquote>
        <p class="writer-name">a Brahmin to Onesicritus, <cite>327 BC, reported in Strabo's Geography</cite></p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Change breaks the brittle.
            </p>
        </blockquote>
        <p class="writer-name"> – Jan Houtema</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Programs must be written for people to read, and only incidentally for machines to execute
            </p>
        </blockquote>
        <p class="writer-name">– Abelson & Sussman, <cite>SICP, preface to the first edition</cite></p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Short words are best and the old words when short are best of all.
            </p>
        </blockquote>
        <p class="writer-name">– Winston Churchill</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                The best writing is rewriting.
            </p>
        </blockquote>
        <p class="writer-name">– E. B. White</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Modern invention has been a great leveller. A machine may operate far more quickly than a political or economic measure to abolish privilege and wipe out the distinctions of class or finance.
            </p>
        </blockquote>
        <p class="writer-name">– Ivor Brown, <cite>The Heart of England</cite></p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                If our goal is to write poetry, the only way we are likely to be any good is to try to be as great as the best.
            </p>
        </blockquote>
        <p class="writer-name">– Donald Hall, <cite>Poetry and Ambition</cite></p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Premature optimization is the root of all evil (or at least most of it) in programming.
            </p>
        </blockquote>
        <p class="writer-name">– Donald Knuth</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                The public should always be wondering how it is possible to give so much for the money.
            </p>
        </blockquote>
        <p class="writer-name">– Henry Ford</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                We act as though comfort and luxury were the chief requirements of life, when all that we need to make us happy is something to be enthusiastic about.
            </p>
        </blockquote>
        <p class="writer-name">– Charles Kingsley</p>
    </div>
    <div class="quotes">
        <blockquote cite="https://www.paulgraham.com/quo.html">
            <p class="the-quote">
                Lisp has jokingly been called "the most intelligent way to misuse a computer". I think that description is a great compliment because it transmits the full flavor of liberation: it has assisted a number of our most gifted fellow humans in thinking previously impossible thoughts.
            </p>
        </blockquote>
        <p class="writer-name">– Edsger Dijkstra <cite>CACM, 15:10</cite></p>
    </div>
    

    <%- include("partials/footer.ejs") %>